<html>
  <head>
    <meta charset="UTF-8">
    <title>Roger Link's Resume</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">       
  <script src="../js/disco.js" type="text/javascript"></script>
  <body>
    <div id="header_category_container"></div>
    <div id="main_container">
      {% include header.html %}
      <div id="resume_content">
        <div class="single">
          <div id="resumebackground">
            <!-- <div class="VegurResumeText" style="font-size: 1.8em;"><strong>Engineer, Artist, Beekeeper</strong></div> -->
            <div id="content">
              <div id="sidebar">
                <div class="VegurResumeHeader" style="font-size: 1.1em; padding-bottom: 450px;">Professional Experience</div>
                <div class="VegurResumeHeader" style="font-size: 1.1em; padding-bottom: 100px;">Professional Accomplishments</div>
                <div class="VegurResumeHeader" style="font-size: 1.1em; padding-bottom: 203px;">Skills</div>
                <div class="VegurResumeHeader" style="font-size: 1.1em;">Education</div>
              </div>
              <div id="main-content">
                <div class="VegurResumeHeader">Cerner Corporation &nbsp;| &nbsp;Software Engineer&nbsp; &nbsp;| &nbsp;Jan. 2013 - Present</div>
                <div class="VegurResumeText" style="margin-left: 30px;">
                  <ul>
                    <li>Python Programmer - Server Side</li>
                    <li>Celery, Fabric, Django</li>
                  </ul>
                </div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader">Cerner Corporation &nbsp;| &nbsp;Application Engineer/Consultant&nbsp; &nbsp;| &nbsp;Oct. 2006 - Jan. 2013</div>
                <div class="VegurResumeText" style="margin-left: 30px;">
                <ul>
                  <li>Installed, configured, customized and supported online EMR application</li>
                  <li>Worked as primary client consultant on all phases of projects including project planning, design, implementation, and post go-live</li>
                  <li>Key person responsible for maintaining 4 major production clustered environments hosting 60+ clients and resolving system issues associated with IBM Websphere, Database Connection, Cerner Millennium, and Networking</li>
                  <li>Worked with clients on large scale web implementations implementing single sign on through patient portals</li>
                  <li>Deployed and Configured Websphere and Python code bases in staging and production environments</li>
                  <li>Designed and Implemented CSS, HTML, Java Script, and Python code functionality including the design of system tools responsible for service testing and deployment.</li>
                </ul>
                </div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader">Cerner Corporation &nbsp;| &nbsp;Backend System Engineer &nbsp;| &nbsp;Feb. 2005 - Oct. 2006</div>
                <div class="VegurResumeText" style="margin-left: 30px;">
                  <ul>
                    <li>Maintained production backend AIX environment for Catholic Healthcare West</li>
                    <li>Responsible for the Deployment of all Cerner Millennium code</li>
                    <li>Performed system health checks and functioned as the point person for resolving Cerner Millennium issues</li>
                  </ul>
                </div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader">Whoop Dee Doo | May 2009-Present</div>
                <div class="VegurResumeText" style="margin-left: 30px;">
                  <ul>
                    <li style="white-space: nowrap;">Performer, Set Designer, Prop Maker, Photographer, Graphic Designer, Website Administratior, and Business Manager</li>
                    <li>Traveled and performed nationally and internationally on large and small scale shows</li>
                    <li>Created large and small installations with emphasis on multimedia, lighting, and prop making</li>
                  </ul>
                </div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader">Big Brothers Volunteer | Oct. 2009 - May 2012</div>
                <div class="VegurResumeText" style="margin-left: 30px; padding-bottom: 25px;">
                  <ul>
                    <li>Youth Mentor</li>
                  </ul>
                </div>
                <div class="VegurResumeHeader">Technical</div>
                <div class="VegurResumeText" style="margin-left: 30px;">
                  <ul>
                    <li>Designed and Coded high resolution electrocardiogram acquisition software</li>
                    <li>Developed several small applications utilizing web based APIs and Python libraries</li>
                    <li>Supported live production enterprise level computer systems for Catholic Healthcare West</li>
                    <li>Supported over 40 live production IQHealth web based clients</li>
                  </ul>
                </div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader">Artistic</div>
                <div class="VegurResumeText" style="margin-left: 30px; padding-bottom: 35px;">
                  <ul>
                    <li>Regionalism: New Art by North American Printmakers, DIVA Center, Eugene, OR (2010)</li>
                    <li>Contributor to photograpy blog <a href="http://featurshoot.com">www.featureshoot.com</a> (2010 - 2011)</li>
                    <li>Room Installation <a href="http://www.rogerlink.com/tba-festival/">Time Based Art Festival</a> - TBA'11, Portland, OR (2011)</li>
                    <li><a title="Whoop Dee Doo" href="http://whatweekly.com/2012/05/02/whoop-de-doo/" target="_blank">Whoop Dee Doo</a> Room Installation City Arts Gallery, Baltimore, MD (2012)</li>
                  </ul>
                </div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader">Computer</div>
                <div class="VegurResumeText" style="margin-left: 30px;">HTML, CSS, JavaScript, JQuery, Python, SQL, CCL, Arduino Programming, Circuit Design and Build,<br>
                AIX, UNIX, Linux, Windows (95/98/200/XP/Vista/2003 Server), Websphere, C, Visual Basic, Assembly<br>
                Shell Scripting, vi, Oracle 9i, SQL*Plus, HL7</div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader" style="margin-left: 0px;">Design</div>
                <div class="VegurResumeText" style="margin-left: 30px;">Photoshop, MaxMSP, Google Sketchup, Audacity, iMovie</div>
                <p>&nbsp;</p>
                <div class="VegurResumeHeader" style="margin-left: 0px;">Business</div>
                <div class="VegurResumeText" style="margin-left: 30px; padding-bottom: 30px;">Grant Writing, Non-Profit Management, Fundraising, Project Planning, Community Outreach</div>
                <div class="VegurResumeHeader">Iowa State University, Ames, Iowa</div>
                <div class="VegurResumeText" style="margin-left: 30px;">Currently pursuing Master of Science, Human Computer Interaction</div>
                <div class="VegurResumeHeader">Purdue University, Indianapolis, Indiana</div>
                <div class="VegurResumeText" style="margin-left: 30px;">Bachelor of Science, Electrical Engineering<br>
                Mathmatics Minor</div>
                <div class="VegurResumeHeader" style="margin-left: 0px;">Kansas City Art Institute</div>
                <div class="VegurResumeText" style="margin-left: 30px;">Professional Clases in 2D Design, Web Design, Color Theory, Photography, and Graphic Design</div>
                <p>&nbsp;</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <p>&nbsp;</p>    
          <br><br>                
        </div><!--//single-->
      </div><!--//content-->
    </div><!--//main_container-->
    <script>disco();</script>
  </body>
</html>