    <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 100, "itemSelector": ".item" }'>
        <ul>
          {% for post in site.categories.blog %}
          <div class="item">
            <li class='post'>
              {% if post.image %}
                <a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
              {% endif %}
              <div class="post-content">
                <div class="post-title">
                  <a href='{{post.url}}'><span class="VegurResumeHeader">{{post.title}}</span></a>
                </div>
                <div class="post-summary"><span class="VegurResumeText">{{post.summary}}</span></div>
              </div>
            </li>
          </div>
          {% endfor %}
        </ul>
      <div style='clear:both'></div>
    </div>